<table border="1" width="65%">
    <tr>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Address</th>
        <th>Docter</th>
        <th>Bill Amount</th>
        <th>Options</th>
    </tr>
    <tr *ngFor ="let p of data">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.address}}</td>
        <td>{{p.doctor}}</td>
        <td>{{p.bill | currency :'INR'}}</td>
        <td>
            <a routerLink="/patient/{{p.id}}">Edit Details</a>
        </td>
    </tr>
</table>